<div id="board">
  {{title}}
  <div ng-show="state.setupBoard">
    go to quiz: <input type='text' ng-model='quiz'></input><button ng-click='goQuiz(quiz)'>Go</button>
  </div>
  <div ng-show="state.waitforteams">
    Round: <br/>
    Question nr: {{questionNr}}/12<br/>
    Current question: {{currentQuestion.question}}<br/>
    <table>
      <tr>
        <td>team applied answer</td>
        <td>teamname:</td>
        <td>score this round</td>
        <td>total points</td>
      </tr>
      <tr ng-repeat="team in teams">
        <td>{{team.applied}}</td>
        <td>{{team.teamname}}</td>
        <td>{{team.score}}</td>
        <td></td>
      </tr>
    </table>
    {{teams}}
  </div>
</div>
